spring:
  application:
    name: ccssaa-project
    
  datasource:
    url: jdbc:mysql://localhost:3306/ccssaa_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: your_password  # TODO: Change this to your MySQL password
    driver-class-name: com.mysql.cj.jdbc.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    
  security:
    user:
      name: admin
      password: admin  # TODO: Change for production

# JWT 설정
jwt:
  secret: mySecretKeyForJwtTokenGenerationAndValidationPurpose  # TODO: Use environment variable in production
  token-validity-in-seconds: 86400  # 24 hours

# Swagger 설정
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
