spring:
  application:
    name: ccssaa-project
    
  datasource:
    url: jdbc:h2:mem:devdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
    
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  
  h2:
    console:
      enabled: true
      path: /h2-console
      
  security:
    user:
      name: admin
      password: admin  # TODO: Change for production

# JWT 설정
jwt:
  secret: mySecretKeyForJwtTokenGenerationAndValidationPurpose  # TODO: Use environment variable in production
  token-validity-in-seconds: 86400  # 24 hours

# Swagger 설정
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  show-actuator: false
  packages-to-scan: com.ccssaa.project.controller
  paths-to-match: /api/**
